@page "/dostawcy"
@using InzynierkaAPI
@using PrzetargiHTTP.Data
@using InzynierkaAPI.Models
@inject PrzetargiService przetargiService
@inject ProduktyService produktyService
@inject NavigationManager NavManager
@inject IJSRuntime jsr


@if (dostawcy == null)
{
	<div class="d-flex align-items-center justify-content-center" style="height: 80vh">
		<div style="max-width:500px;">
			<p><h4> <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Ładowanie...</h4></p>
		</div>
	</div>
}
else
{
	{



		<div class="card">

			<h2 class="card-header text-white" style="background-color: #284B69;">Dostawcy</h2>

		<div class="row">
			<div class="col ">
					<button class="btn btn-primary ms-2 mt-4" @onclick="DodajDostawce">Dodaj dostawce</button>
</div>
				<div class="col"></div>
				<div class="col">
					<div class="mt-4"></div>
		<EditForm Model="parametr1">
						<input class="form-control mr-sm-2" type="search" placeholder="Nazwa firmy lub Miejscowość" @bind-value="parametr1.nazwaDostawcy" aria-label="Search">
						<input class="form-control mr-sm-2" type="search" placeholder="Numer NIP lub KRS" @bind-value="parametr1.nip" aria-label="Search">
		<div class="mt-4"></div>
						<button type="submit" class="btn btn-secondary" @onclick="async () => await FindDostawca(parametr1.nazwaDostawcy,parametr1.nip)">Szukaj <i class="fa fa-search"></i></button>
		<button  class="btn btn-secondary" type="submit" @onclick="async () => await FindDostawca(null,null)">Resetuj <i class="fa fa-refresh"></i></button>
		</EditForm>
				</div>
				<div class="col"></div>

				
				<div class="col mt-4 me-2">

					<EditForm Model="itemsOnPage">
						<label>Ilość przetargów na stronie: </label>
						<InputSelect id="items" @bind-Value=itemsOnPage class="form-control" itemid="a">
							<option value="5"> 5</option>
							<option value="10"> 10</option>
							<option value="20"> 20</option>
							<option value="50"> 50</option>
							<option value="100"> 100</option>
						</InputSelect>
						<button class="btn btn-primary mt-2" @onclick="async () => await OnValueChanged(itemsOnPage)">Zmień</button>
					</EditForm>
				</div>
			</div>
			<div class="row mt-2"></div>
	<div class="table-responsive">
	<table class="mt-4">
		<thead>
			<tr>


				<th>Nazwa firmy</th>
				<th>Nip</th>
				<th>Krs</th>
				<th>Ulica</th>
				<th>Numer domu</th>
				<th>Kod pocztowy</th>
						<th>Miejscowość</th>
				<th colspan="2"> </th>



			</tr>
		</thead>
		<tbody>

			@foreach (var dostawca in dostawcy)
			{
				<tr>

					<td>@dostawca.Nazwa</td>
					<td>@dostawca.Krs</td>
					<td>@dostawca.Nip</td>
					<td>@dostawca.Ulica</td>
					<td>@dostawca.NrDomu</td>
					<td>@dostawca.KodPocztowy</td>
					<td>@dostawca.Miejscowosc</td>
								<td><button class="btn btn-primary btn-sm" @onclick="() => GetbyId(dostawca.Id)">Szczegóły</button></td>
					</tr>
			}
		</tbody>
	</table>
				<div class="container">
					<div class="row">
						<div class="col">
						</div>
						<div class="col text-center">
							<button class="btn oi oi-arrow-left" @onclick="PrevPage"></button>
						</div>
						<div class="col text-center">
							<p class=" custom-font custom-size">@Strona</p>
						</div>
						<div class="col text-center">
							<button class="btn oi oi-arrow-right" @onclick="NextPage"></button>
						</div>
												<div class="col">
</div>
					</div>
				</div>
	</div>
		</div>
}
}
@code {
	private Dostawca[] dostawcy;
	private Dostawca[] dostawcyLastPage;
	public int Strona
	{
		get => strona;
		set
		{
			if (value < 1)
			{
				return;
			}
			if (value > ostatniaStrona)
			{
				return;
			}
			strona = value;
			GetAll(null, null);
		}
	}
	private int strona = 1;
		public class Parametr
	{
		public string nazwaDostawcy { get; set; }
		public string nip { get; set; }
	}
	Parametr parametr1 = new();
	private void NextPage() => Strona++;
	private void PrevPage() => Strona--;
	private int ostatniaStrona { get; set; }
	private int itemsOnPage { get; set; } = 5;
	private int iloscDostawcow{ get; set; }

	private async Task OnValueChanged(int value)
	{
		await produktyService.ChangeNumberOfItemsD(value);
		await OnInitializedAsync();
		StateHasChanged();
	}
	private void GetbyId(int id)
	{
		NavManager.NavigateTo($"/Dostawca/{id}");
	}
	private async void GetAll(MouseEventArgs e, object sender)
	{
		dostawcy = null;
		StateHasChanged();
		await OnInitializedAsync();
		StateHasChanged();
	}

	private void DodajDostawce()
	{
		NavManager.NavigateTo("/adddostawca");
	}

	protected override async Task OnInitializedAsync()
	{
		if (przetargiService.isLogged == false)
			NavManager.NavigateTo("/");
		dostawcy = await produktyService.GetAllDostawcy(Strona);
		dostawcyLastPage = await produktyService.GetDostawcyForLastPage();
		iloscDostawcow = dostawcyLastPage.Length;
		ostatniaStrona = (int)Math.Ceiling((double)iloscDostawcow / itemsOnPage);
	}

	private async Task Delete(int id)
	{
		await produktyService.DeleteDostawca(id);
		dostawcy = null;
		await OnInitializedAsync();
	}
		private async Task FindDostawca(string nazwaWystawcy, string nip)
	{
		dostawcy = await przetargiService.FindDostawca(Strona, nazwaWystawcy, nip);
	}
}
